<DOCTYPE html>
<html>
<head>
  <title>Enterprise JSON</title>
  <meta charset='utf-8' />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style type="text/css">
textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  resize: none;
  width: 48%;
  font-family: monospace;
}

.text-areas {
  width: 100%;
  height: auto;
}

.shite {
  padding: 0 20px 0 0;
}

#app {
  margin: 20px;
}
</style>
<body>
  <div id="app">
    <h3>JSON Tools</h1>

    <span class="shite">
      Transform:
      <button @click="beautify()">Beautify</button>
      <button @click="minify()">Minify</button>
    </span>


    <span class="shite">
      Filter:
      <input v-model="keys" type="text" name="keys" placeholder='key1,key2'>
      <button @click="only()">Only</button>
      <button @click="exclude()">Exclude</button>
    </span>

    <span class="shite">
      Compare:
      <button @click="diff()">Diff</button>
      <button @click="undo()">Undo</button>
    </span>

    <span class="shite">
      API:
      <input v-model="uri" type="text" name="uri">
    </span>

    <hr>
    The document on the left will be transformed, and displayed on the right.<br>
    If comparing documents, differences will be applied to both sides.<br>
    <hr>

    <div class="text-areas">
      <textarea v-model="left" rows="20" cols="60"></textarea>
      <textarea v-model="right" rows="20" cols="60"></textarea>
    </div>
  </div>

<script type="text/javascript">

const app = new Vue({
  el: '#app',
  data: { 
   keys: '',
   left: '',
   right: '',
   uri: 'http://localhost:8080',
  },
  methods: {
    api: function(path, data) {
      return axios.post(this.uri+'/'+path, data, {
        headers: {'Content-Type': 'text/plain'},
        transformResponse: []})
    },
    undo: function() {
      this.left = this.left_bak
      this.right = this.right_bak
    },
    only: function() {
      this.api('only?keys='+this.keys, this.left).then(x => this.right = x.data)
    },
    exclude: function() {
      this.api('except?keys='+this.keys, this.left).then(x => this.right = x.data)
    },
    minify: function() {
      this.api('minify', this.left).then(x => this.right = x.data)
    },
    beautify: function() {
      this.api('beautify', this.left).then(x => this.right = x.data)
    },
    diff: function() {
      this.left_bak = this.left
      this.right_bak = this.right
      var a = this.left.split('\n')
      var b = this.right.split('\n')
      for (var i = 0; i < Math.max(a.length, b.length); i++) {
        if (i >= a.length) {
          b[i] = '+ ' + b[i]
        } else if (i >= b.length) {
          a[i] = '+ ' + a[i]
        } else if (a[i] !== b[i]) {
          a[i] = '> ' + a[i]
          b[i] = '> ' + b[i]
        }
      } 
      this.left = a.join('\n') 
      this.right = b.join('\n')
    }
  }
})
</script>
</body>
</html>